.footer{
    &__container{
        &_content{
            color: $colorTextDB;
            font-family: DragonBallFont;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
        }
    }
    .toTop {
        position: fixed;
        bottom: 50px;
        right: 50px;
        color: white;
        background-color: black;
        font-size: 30px;
      }
}